/** @format */

.product_page {
	margin-top: 11vh;
	margin-bottom: 12.6rem;
}
.product_breadcum,
.product_breadcum_bar {
	margin-left: 10rem;
	margin-top: 2rem;
	font-weight: 400;
	font-size: 1rem;
	font-family: Montserrat;
	margin-bottom: 2rem;
	text-align: left;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	cursor: pointer;
}
.product_heading {
	text-align: left;
	font-size: 1.5rem;
	font-weight: 700;
	margin-left: 10rem;
	font-family: Montserrat;
	letter-spacing: 0px;
	color: #dd0802;
	opacity: 1;
}
.product_container {
	margin-left: 8.3rem;
}

.product_images {
	width: 6.7vw;
	height: 12.03vh;
	margin-top: 4.125rem;
	margin-left: 1.75rem;
	margin-right: 2rem;
	margin-bottom: 3rem;
	cursor: pointer;

	-webkit-filter: drop-shadow(0px 10px 15px #2f2e41);
	filter: drop-shadow(0px 10px 15px #2f2e41);
	transition: 0.3s;
	cursor: pointer;
}
.product_images:hover,
.image_on_name_hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5);
}
.img_name {
	font-size: 1rem;
	font-weight: 400;
	font-family: Montserrat;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	cursor: pointer;
}
.img_name:hover {
	color: red;
}
.on_img_hover_name {
	color: red !important;
}

/* ----------------------------------------- product bar  ----------------------------------------------- */

.product_bar {
	min-height: 18vh;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 10px #00000040;
	opacity: 1;
}
.product_heading_bar {
	font-size: 1.5rem;
	font-weight: 700;
	padding-left: 10rem;
	font-family: Montserrat;
	letter-spacing: 0px;
	color: #dd0802;
	opacity: 1;
}
.product_list_bar {
	margin-top: -3rem;
	cursor: pointer;
	padding-left: 7.5rem !important;
	margin-bottom: 0.1rem;
}
.product_img_bar {
	height: 7vh;
	width: 4vw;
	margin-right: 5rem;
}

.product_img_bar_name {
	padding-top: 1rem;
	margin-left: 0.8rem;
	width: min-content;
}

.test1 {
	width: 8vw;
}
/* ---------------------------------------- middle product ----------------------------------- */

.box_inside {
	width: 21.6vw;
	height: 52.3vh;
	background: #e4eff3 0% 0% no-repeat padding-box;
	opacity: 1;
	margin-left: -0.8rem;
}
.most_popular_product {
	padding-top: 4rem;
	margin-left: 0rem;
	text-align: center;
	font-weight: 700;
	font-size: 1.5rem;
	font-family: Montserrat;
	letter-spacing: 0px;
	color: #1b1464;
	opacity: 1;
	white-space: nowrap;
}
/* .empty_rect {
	margin-top: 2rem;
	height: 1.7vh;
	width: 10vw;
	background-color: white;
	margin-left: 12rem;
} */
.test {
	border-bottom: 0.4rem solid red;
	width: 5vw;
}
.hover_product_img {
	border-bottom: 0.4rem solid blue;
	width: 5vw;
}
/* --------------------------------- middel images------------------------------------------- */

.middle_img,
.nested_img {
	width: 11vw;
	height: 18.4vh;
	padding: 2rem;
	-webkit-filter: drop-shadow(0px 10px 15px #2f2e41);
	filter: drop-shadow(0px 10px 15px #2f2e41);
	cursor: pointer;
}

.middle_img_label,
.nested_img_label {
	font-size: 1.25rem;
	font-weight: 400;
	font-family: Montserrat;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	padding-left: 8rem;
	cursor: pointer;
}
.middle_img_label:hover,
.nested_img_label:hover {
	color: red;
}

.middle_img_heading {
	text-align: left;
	font-size: 1.5rem;
	font-weight: 700;
	font-family: Montserrat;
	letter-spacing: 0px;
	margin-top: 3rem;
	color: #1b1464;
}
.popular_product_div {
	position: relative;
	width: 36vw;
	height: 6.6vh;
	background: #dd0802 0% 0% no-repeat padding-box;
	opacity: 1;
	margin-top: 0px;
	margin-left: -0.8rem;
	text-align: center;
	text-justify: auto;
	font-size: 1.5rem;
	font-weight: 700;
	font-family: Montserrat;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}
.tag_line {
	text-align: left;
	font-size: 1.25;
	font-weight: 400;
	font-family: Montserrat;
	letter-spacing: 0px;
	color: #1b1464;
}
.popular_img {
	width: 18vw;
	height: 30vh;
	margin-left: 13rem;
}
/* ------------------------------ nested Img --------------------------------- */
.divnested1 {
	background: #e4eff3 0% 0% no-repeat padding-box;
	opacity: 1;
	border-radius: 2rem;
}
