/** @format */
.breadcrumb {
	background-color: white !important;
	cursor: pointer;
}
.bread_cum {
	margin-left: 8rem;
}

.prod_breadcum {
	text-decoration: underline;
}

.download_page {
	margin-top: 100vh !important;
}
input {
	border-radius: 0% !important;
}

.community_support {
	cursor: pointer;
}
.contact_support,
.page_not_found {
	margin-top: 6rem;
}

.comingSoon {
	font-size: 3rem;
	font-weight: 700;
	font-family: Montserrat;

	letter-spacing: 0px;
	color: black;
}
.Text_tag {
	font-size: 1.5rem;
	font-weight: 500;
	font-family: Montserrat;
	letter-spacing: 0px;
	color: #055092;
}
